<footer
  class="fixed bottom-0 left-0 right-0 bg-spotify-footer justify-between flex py-4 px-10 bg-gradient-to-r from-[#ae2896] to-[#509bf5]"
>
  <div class="shrink-0 flex flex-col justify-center">
    <p class="text-spotify-white uppercase font-normal text-xs mb-1">
      Testar o Premium de graça
    </p>
    <p class="text-spotify-white text-sm font-medium">
      Inscreva-se para curtir música ilimitada e podcasts só com alguns
      anúncios. Não precisa de cartão de crédito.
    </p>
  </div>
  <div>
    <button
      class="bg-spotify-white text-black text-base font-bold py-[14px] px-[30px] border-0 rounded-[40px] cursor-pointer shrink-0 hover:bg-gradient-to-r from-[#509b] to-[#ae2896]"
      type="button"
    >
      Inscreva-se grátis
    </button>
  </div>
</footer>
