<a [href]="link">
  <div
    class="relative max-w-[37vh] h-[30vh] overflow-hidden rounded-lg hover:hover:scale-90 hover:opacity-100 hover:=translate-1"
    [style.background-color]="backgroundColor"
  >
    <img
      [src]="imageUrl"
      [alt]="imageAlt"
      loading="lazy"
      class="absolute right-0 bottom-0 h-auto w-[107px] rotate-[25deg] translate-x-[18%] -translate-y-[2%]"
    />
    <span
      class="p-4 absolute text-spotify-white text-lg lg:text-2xl font-bold"
      >{{ title }}</span
    >
  </div>
</a>
