<div class="fixed top-0 left-0 bottom-0 w-sidebar-width p-3 bg-spotify-black">
  <nav class="bg-spotify-black rounded-lg p-4">
    <div class="flex">
      <img src="assets/icons/logo-spotify.png" alt="Spotify" class="w-20" />
    </div>

    <ul class="mt-5">
      <li class="py-2">
        <a
          href="#"
          class="text-spotify-gray hover:text-white flex items-center"
        >
          <mat-icon class="mr-2">home</mat-icon>
          <span>Início</span>
        </a>
      </li>
      <li class="py-2">
        <a
          href="#"
          class="text-spotify-gray hover:text-white flex items-center"
        >
          <mat-icon class="mr-2">search</mat-icon>
          <span>Buscar</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="bg-spotify-black rounded-lg mt-2 p-2">
    <div class="flex justify-between items-center p-2">
      <button class="text-spotify-gray hover:text-white flex items-center">
        <mat-icon class="mr-2">book</mat-icon>
        <span>Sua biblioteca</span>
      </button>
      <mat-icon class="text-spotify-gray hover:text-white">add</mat-icon>
    </div>

    <div class="bg-spotify-light-black rounded-lg p-4 mt-2">
      <div class="text-white">
        <p class="font-bold mb-2">Crie sua primeira playlist</p>
        <p class="text-sm">É fácil, vamos te ajudar</p>
      </div>
      <button
        class="bg-white text-black rounded-full px-4 py-2 mt-4 font-bold text-sm hover:scale-105"
      >
        Criar playlist
      </button>
    </div>
  </div>
</div>
